    <footer class="footer navbar navbar-fixed-bottom">
        <div class="container">
            <div class="row">
                <span class="col-md-6">MStech OMR Admin v2.4.0<i></i></span>
                <div class="col-md-6 text-right">Todos os direitos reservados.</div>
            </div>
        </div>
    </footer>

    <script src="/vendor/jquery/dist/jquery.js"></script>
    <script src="/vendor/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/vendor/bootbox.js/bootbox.js"></script>
    <script src="/js/Util.js"></script>
    <script src="/js/component/SideMenu.js"></script>
</body>
</html>