<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OMR Admin</title>

    <link href="/vendor/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="/css/css.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">

    <link href="/favicon.ico" rel="icon">
</head>
<body>
