<nav id="sideMenu" class="menuLateral">
    <ul>
        <li class="collapsed"><a href="/"><i class="material-icons">home</i> Dashboard</a></li>
        <li class="collapsed"><a href="/aggregation"><i class="material-icons">assignment</i> Lotes</a></li>
        <li class="collapsed"><a href="/template"><i class="material-icons">assignment</i> Gabaritos</a></li>
        <li class="collapsed"><a href="/log"><i class="material-icons">assessment</i> Logs</a></li>
    </ul>
</nav>