<% include ../../_partial/header.ejs %>
<% include ../../_partial/navbar.ejs %>

<section class="container content-wrapper">
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1>404. Página não encontrada</h1>
            </div>
            <div class="panel-body">
                A página solicitada não existe
            </div>
            <div class="panel-footer">
                <a class="btn btn-primary btn-lg" href="/" role="button">Dashboard</a>
            </div>
        </div>
    </div>
</section>

<% include ../../_partial/footer.ejs %>