<% include ../../_partial/header.ejs %>
<% include ../../_partial/navbar.ejs %>

<div class="heading-page">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/">Dashboard</a></li>
            <li class="active">Gabaritos</li>
        </ol>
        <h2>Gabaritos</h2>
    </div>
</div>
<article class="container container-principal">
    <% include ../../_partial/component/template/list-filter.ejs %>
    <% include ../../_partial/component/template/list-table.ejs %>
</article>

<% include ../../_partial/footer.ejs %>