<% include ../_partial/header.ejs %>
<% include ../_partial/navbar.ejs %>

<div class="heading-page">
    <div class="container">
        <ol class="breadcrumb"></ol>
        <h2>Login</h2>
    </div>
</div>

<section class="container content-wrapper">
    <% include ../_partial/component/signin/login-box.ejs %>
</section>